.list-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
}

.list-item .left,.list-item .right{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 1em 0.2em 0.2em;
}

.list-item .center {
    flex: 2;
    flex-direction: column;
}

.list-item img {
    width: 1.6em;
}

.date-author, .name, .description {
    font-size: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.date-author {
    font-size: 0.8em;
    margin-left: auto;
}

.name {
    font-weight: bold;
}

.list-item:nth-child(even) {
    background-color: #f0f0f0;
}