* {
    font-family: Arial, sans-serif;
    font-size: 1em;
}

p {
    padding: 0.3em;
    margin: 0.2em;
}

img {
    width: 1.6em;
}

.content-container {
    padding-top: 0.4em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.content-container label {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.content-container input,
.content-container textarea {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.map-container {
    height: 50vh;
    width: 100%;
    margin-bottom: 1.1em;
}

#loading-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.details-background {
    background-color: #f0f0f0;
}

.icon-button {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    overflow: hidden;
    border: none;
    background-color: #98c5ed;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.icon-image {
    width: 55%;
    height: auto;
    object-fit: cover;
}