* {
    font-family: Arial, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 1.6em;
}

.header-container {
    display: flex;
    align-items: center;
    height: 2.5em;
    margin: 0.5em 0.2em 0 0;
}

.header-container h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.4em;
    color: #98c5ed;
}

.header-container img {
    height: 75%;
    margin: 1em;
}

.navigation {
    display: flex;
    justify-content: center;
    position: fixed;
    margin: 0;
    bottom: 0;
    height: 10vh;
    width: 100%;
    background-color: white;
}

.navigation button {
    width: 50%;
    margin: 0.2em;
    background-color: #98c5ed;
    color: white;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

.display {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 0.4em;
    overflow-y: auto;
}

.content-container form {
    display: flex;
    flex-direction: column;
}

.content-container label {
    padding: 0 0.5em 0 0.5em;
}

.content-container input,
.content-container textarea {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.content-details p {
    padding: 0.5em;
}

.details-background {
    width: 100%;
    background-color: #f0f0f0;
}

.map-container {
    height: 50vh;
    width: 100%;
    margin-bottom: 0.3em;
}

#loading-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
}

.list-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
}

.list-item .left, .list-item .right {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 1em 0.2em 0.2em;
}

.list-item .center {
    flex: 2;
    flex-direction: column;
}

.list-item img {
    margin: 0 1.3em 0 0.5em;
    width: 2.5em;
}

.date-author, .name, .description {
    font-size: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.date-author {
    font-size: 0.8em;
    margin-left: auto;
}

.name {
    font-weight: bold;
}

.list-item:nth-child(even) {
    background-color: #f0f0f0;
}

.icon-button {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    overflow: hidden;
    border: none;
    background-color: #98c5ed;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.icon-image {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.round-buttons {
    margin: 0.3em;
    display: flex;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    text-align: center;
}

.popup button {
    width: 4em;
    margin: 0.5em;
    padding: 0.8em;
    background-color: #98c5ed;
    color: white;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

.popup p {
    padding: 1em;
}

.popup-buttons {
    display: flex;
    justify-content: center;
}